@inherits LayoutComponentBase
@inject Client.Services.MenuService MenuService
@inject NavigationManager Nav

<ul>
    @if (menu is not null)
    {
        foreach (var item in menu)
        {
            <li><a href="@item.Url">@item.Title</a></li>
        }
    }
</ul>

@Body

@code {
    private List<Shared.DTOs.MenuItemDto>? menu;

    protected override async Task OnInitializedAsync()
    {
        MenuService.MenuChanged += async () => { menu = await MenuService.GetMenuAsync(); StateHasChanged(); };
        await MenuService.ConnectHubAsync(Nav.BaseUri);
        menu = await MenuService.GetMenuAsync();
    }
}